# Entornos virtuales
venv/
venv_tfm/
env/

# Archivos pesados y datasets
*.pkl
*.csv
*.zip
*.tar.gz

# Configuraciones y carpetas temporales
.*
!.gitignore
.ipynb_checkpoints/
__pycache__/
*.pyc
.vscode/
